{% extends 'base.html.twig' %}

{% block title %}Filter Substances{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    {% if substance %}
        <table>
            <tr>
                <th>Name</th>
                <td>{{ substance.name }}</td>
            </tr>
            <tr>
                <th>Formula</th>
                <td>{{ substance.formula }}</td>
            </tr>
            <tr>
                <th>CAS Number</th>
                <td>{{ substance.CASNumber }}</td>
            </tr>
            <tr>
                <th>PubChem Id</th>
                <td>{{ substance.pubchemId }}</td>
            </tr>
            <tr>
                <th>Signal Word</th>
                <td>{{ substance.signalWord }}</td>
            </tr>
            <tr>
                <th>Statements</th>
                <td>
                    <ul>
                        {% for s in substance.statements %}
                            <li>{{ s.name }} : {{ s.description }}</li>
                            {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Symbols</th>
                <td>
                    <ul>
                        {% for s in substance.symbols %}
                            <li>{{ s.name }}</li>
                            {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
    {% else %}
        <p>No substance found.</p>
    {% endif %}
{% endblock %}
